build
*.iso
*.o
*.ao
.DS_Store
._.DS_Store
tags
.gdb_history
.clangd
.ccache
.cache
__pycache__
compile_commands.json

base/bin
base/lib
base/boot

.config*
autoconf.h
/config.cmake

user/out

toolchain/src
toolchain/build
toolchain/local


/thirdparty

target

node_modules


*.wad

/ports/src
/ports/out

.idea

.vscode/
