build
*.iso
*.o
*.ao
mobo.cabal
.ghc*
.stack-work
mobo
.DS_Store
tags
.gdb_history

.clangd

compile_commands.json

base/bin
base/lib
base/boot

user/out

toolchain/tarballs
toolchain/build
toolchain/local

target

node_modules
