
mainmenu "Chariot Kernel Configuration"


menu "Platform"
	choice
		prompt "Architecture"
		default X86

		config X86
			bool "x86_64 (Intel, AMD)"

		# eventually.... :^)
		config ARM64
			bool "ARM64"
	endchoice


	config MAX_CPUS
	int "Maximum Number of CPUs"
		range 1 2048
		default "256"
		help 
			Specifies the maximum number of hardware CPUs supported by Chariot
			For uniprocessor environments, set this to 1

	config SMP
		bool "Symmetric multi-processing support"
		default y
		depends on X86

endmenu


menu "Scheduler"

	config PREFETCH_NEXT_THREAD
		bool "Prefetch next thread in tick irq"
		default y
endmenu



menu "Build"
	config DEBUG_SYMBOLS
		bool "Debug Symbols (-g)"
		default n

	config DEBUG_TIMESTAMPS
		bool "Display timestamps when printing with KERN_*"
		default y

	config OPTIMIZED
		bool "Optimization (-O2)"
		default y


	config DISK_SIZE_MB
		int "Size of the virtual hard drive in megabytes"
		default 256

endmenu


menu "Debug"
	config LOG_ERROR
		bool "Error Logging"
		default y

	config LOG_WARN
		bool "Warning Logging"
		default y

	config LOG_INFO
		bool "Info Logging"
		default y

	config LOG_DEBUG
		bool "Debug Information Logging"
		default y


	config VERBOSE_PROCESS
		bool "Verbose process debug"
		default n


endmenu


menu "Filesystem"
	config EXT2
		bool "Ext2 Filesystem"
		default y


	config TMPFS
		bool "Temp Filesystem"
		default y

endmenu

menu "Devices"

	config ATA
		bool "ATA/IDE"
		default y
		depends on X86

	config AHCI
		bool "[WIP] Support for Advance Host Controller Interface drives"
		default y
		depends on X86

	config NVME
		bool "[WIP] Support for NVMe Drives"
		default y
		depends on X86

	config GENERIC_CHAR
		bool "Generic character devices (urandom, null, etc..) [RECOMMENDED]"
		default y

	config E1000
		bool "E1000 network cards"
		default y
		depends on X86

	config RTL8139
		bool "RTL8139 network cards"
		default y
		depends on X86

	config PS2_HID
		bool "PS2 HID devices (keyboard, mouse) [RECOMMENDED]"
		default y
		depends on X86

	menu "Video"

		config FRAMEBUFFER_WIDTH
			int "Width of the VGA framebuffer"
			default 1280

		config FRAMEBUFFER_HEIGHT
			int "Height of the VGA framebuffer"
			default 768

		config VGA
			bool "VGA displays beyond multiboot's boostrap [RECOMMENDED]"
			default y
			depends on X86

		config VMWARE_VIDEO
			bool "vmware displays"
			default n
			depends on X86
	endmenu



	config SB16
		bool "[WIP] Soundblaster 16"
		default y
		depends on X86
		
endmenu


menu "Graphics Library"

	
	config FANCY_WINDOWS
		bool "Fancy Rounded windows"
		default y


	config GFX_FONT_MONO
		bool "Monochrome font (no blending)"
		default n

endmenu
