mainmenu "Chariot Kernel Configuration"

source "arch/Kconfig"


menu "Build"


	config CLANG
		bool "Use Clang"
		default n

	config DEBUG_SYMBOLS
		bool "Debug Symbols (-g)"
		default n

	config ADDITIONAL_KERNEL_FLAGS
		string "[kernel] Additional GCC Flags"
		default "-O2"

	config ADDITIONAL_USER_FLAGS
		string "[userspace] Additional GCC Flags"
		default "-O3"



	config DISK_SIZE_MB
		int "Size of the virtual hard drive in megabytes"
		default 256


	config OVERRIDE_TOOLCHAIN
		bool "Override toolchain prefix"
		depends on !CLANG
		default n

	config TOOLCHAIN_PREFIX
		string "Toolchain prefix"
		depends on OVERRIDE_TOOLCHAIN
		default "toolchain/..."


	config GCC_VERSION
		depends on !CLANG
		string "GCC Version"
		default "11.1.0"

endmenu



menu "Config"


	config MAX_CPUS
		int "Maximum Number of CPUs"
		range 1 64
		default "32"
		help 
			Specifies the maximum number of hardware CPUs supported by Chariot
			For uniprocessor environments, set this to 1

	config SMP
		bool "Symmetric multi-processing support"
		default y
		help
			Enable multiprocessing

	config PREFETCH_NEXT_THREAD
		bool "Prefetch next thread in tick irq"
		default y

	config TICKS_PER_SECOND
		int "Timer wakeup ticks per second"
		default 1000


	config EXT2
		bool "Ext2 Filesystem"
		default y

	config TMPFS
		bool "Temp Filesystem"
		default y


	config LOW_MEMORY
		bool "Low memory mode (flush block cache when all refs are released, etc...)"
		default n


	menu "Runtime Debugging"
		config LOG_ERROR
			bool "Error Logging"
			default y

		config LOG_WARN
			bool "Warning Logging"
			default y

		config LOG_INFO
			bool "Info Logging"
			default y

		config LOG_DEBUG
			bool "Debug Information Logging"
			default y


		config VERBOSE_PROCESS
			bool "Verbose process debug"
			default n

	endmenu

endmenu


menu "Devices"

	config ATA
		bool "ATA/IDE"
		default y
		depends on X86

	
	config XHCI
		bool "XHCI USB Host Controller"
		default y
		depends on X86

	config AHCI
		bool "[WIP] Support for Advance Host Controller Interface drives"
		default y
		depends on X86

	config NVME
		bool "[WIP] Support for NVMe Drives"
		default y
		depends on X86

	config GENERIC_CHAR
		bool "Generic character devices (urandom, null, etc..) [RECOMMENDED]"
		default y

	config E1000
		bool "E1000 network cards"
		default y
		depends on X86
		depends on LWIP

	config RTL8139
		bool "RTL8139 network cards"
		default y
		depends on X86
		depends on LWIP

	config PS2_HID
		bool "PS2 HID devices (keyboard, mouse) [RECOMMENDED]"
		default y
		depends on X86

	menu "Video"
		config FRAMEBUFFER_WIDTH
			int "Width of the VGA framebuffer"
			default 1280

		config FRAMEBUFFER_HEIGHT
			int "Height of the VGA framebuffer"
			default 768
		config FRAMEBUFFER_AUTODETECT
			bool "Autodetect framebuffer dimensions from BIOS/grub"
			default y

		config VGA
			bool "VGA displays beyond multiboot's boostrap [RECOMMENDED]"
			default y
			depends on X86

		config VMWARE_VIDEO
			bool "vmware displays"
			default n
			depends on X86
	endmenu

	config SB16
		bool "[WIP] Soundblaster 16"
		default y
		depends on X86


	config AC97
		bool "[WIP] AC97 Audio Driver"
		default y
		depends on X86
		
endmenu


menu "Networking"
	config LWIP
		bool "Enable LWIP"
		default n

	config LWIP_DEBUG
		depends on LWIP
		bool "LWIP Debug prints"
		default n
endmenu



config ENABLE_USERSPACE
	bool "Enable Userspace"
	default y
menu "Userspace"

	depends on ENABLE_USERSPACE
	# depends on USERSPACE

	
	config FANCY_WINDOWS
		bool "Fancy Rounded windows"
		default y


	config GFX_FONT_MONO
		bool "Monochrome font (no blending)"
		default n


	config SIMPLE_INIT
		bool "Simple init (Only launch a shell, no services)"
		default n

endmenu




