# config RISCV_MARCH
# 	string "RISC-V Instruction Set"
# 	default "rv64g"
# 
# 
# config RISCV_MABI
# 	string "RISC-V ABI"
# 	default "lp64"


config RISCV_RAM_MB
	int "RAM size"
	default 128
	help
		risc-v doesn't seem to have an obvious way to query
		ram count, so we have to hard code it I think (idk)

config RISCV_BOOTSTACK_SIZE
	int "Per-HART boot stack size (in pages)"
	default 2

choice
	prompt "Virtual memory system"
	default SV48


	config SV32
		bool "Sv32 - 32-bit paging"
		depends on !64BIT

	config SV39
		bool "Sv39 - 39-bit paging"
		depends on 64BIT

	config SV48
		bool "Sv48 - 48-bit paging"
		depends on 64BIT
endchoice



config RISCV_QEMU_VIRT
	bool "[platform] QEMU virt machine"
	default y


config RISCV_CLOCKS_PER_SECOND
	int "Clocks per second (mtime clock rate, 10MHz in QEMU virt)"
	default 10000000


# choice
# 	prompt "Architecture size"
# 	default RISCV64
# 
# 	config RISCV64
# 		bool "RISC-V 64bit"
# 
# 
# 	config RISCV32
# 		bool "RISC-V 32bit"
# 
# endchoice
