config ARCH_NAME
	string
	default "x86_64" if X86 && 64BIT
	default "i386" if X86 && !64BIT
	default "riscv64" if RISCV && 64BIT
	default "riscv32" if RISCV && !64BIT

config ARCH_DIR
	string
	default "x86" if X86
	default "riscv" if RISCV

# The root architecture configuration
choice
	prompt "Architecture"
	default X86

	config X86
		bool "x86_64 (Intel, AMD)"
		

	config RISCV
		bool "RISCV (RV64GC)"

	config ARM64
		bool "ARM64"

endchoice



menu "x86_64 Configuration"
	depends on X86
	source "arch/x86/Kconfig"
endmenu


menu "RISC-V Configuration"
	depends on RISCV
	source "arch/riscv/Kconfig"
endmenu



config 64BIT
	# bool "64bit"
	bool
	default y


menu "ARM64 Configuration"
	depends on ARM64
	source "arch/arm64/Kconfig"
endmenu

