config ARCH_NAME
	string
	default "x86_64" if X86 && 64BIT
	default "i386" if X86 && !64BIT
	default "riscv64" if RISCV && 64BIT
	default "riscv32" if RISCV && !64BIT
	default "aarch64" if ARM64

config ARCH_DIR
	string
	default "x86" if X86
	default "riscv" if RISCV
	default "arm64" if ARM64

# The root architecture configuration
choice
	prompt "Architecture"
	default X86

	config X86
		bool "x86_64"
		

	config RISCV
		bool "RISC-V"

	config ARM64
		bool "ARM64"

endchoice


config KERNEL_VIRTUAL_BASE
	hex
	default ffff880000000000 if X86
	# riscv
	default 0x80000000 if SV32 && RISCV
	default 0xffffffc000000000 if SV39 && RISCV
	default 0xffff800000000000 if SV48 && RISCV

	# arm64
	default 0xffffffff80000000 if ARM64


menu "x86_64 Configuration"
	depends on X86
	source "arch/x86/Kconfig"
endmenu


menu "RISC-V Configuration"
	depends on RISCV
	source "arch/riscv/Kconfig"
endmenu



config 64BIT
	# bool "64bit"
	bool
	default y


menu "ARM64 Configuration"
	depends on ARM64
	source "arch/arm64/Kconfig"
endmenu

